/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    We set up <body> styles with default font and nice gradient in the background.
*/
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(140,140,140,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(120,120,120,0.5);
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.5;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

.step {
    position: relative;
    width: 1300px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 40px;
    line-height: 1.5;
}

.future {
	opacity: 0;
	transition: opacity 0.5s;
}

.active {
	opacity: 1;
	transition: opacity 0.5s;
}

.past .vanishPast {
	opacity: 0;
	transition: opacity 0.5s;
}

#title {
	text-align: center;
}

#disclaimer {
	position: absolute;
	right: 0;
	color: #cc0000;
	margin-top: -150px;
	padding: 10px;
	border: 2px solid;
	border-radius: 15px;
}

#author {
	text-transform:capitalize;
    font-variant:small-caps;
    font-weight:bold;
	margin: 30px;
}

.center {
	text-align: center;
}

.small {
	font-size: 30px;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	background-color: #f25555;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 25px;

	border: 2px solid;
	border-radius: 15px;
}

h2 {
	text-align: center;
	font-size: 55px;
	font-weight: bold;
}

h3 {
	padding: 20px;
	background-color: #f25555;
	background-opacity: 0.5;
	border-radius: 15px 15px 0px 0px;
}

hr {
	width: 100%;
	height: 2px;
	background-color: black;
	margin-top: 0px;
	padding-top: 0px;
	border: none;
}

ul {
  list-style-type: circle;
}

.ref {
	position: relative;
	float: right;
	text-align: right;
	font-size: 35px;
	color: green;
	margin-top: 10px;
}

.refParent {
	height: 65px;
}

.boxed {
	border: 2px solid;
	border-radius: 15px;
	
	background-color: rgb(160, 160, 160);
}


.margin-bottom30 {
	margin-bottom: 30px;
}

.margin-bottom80 {
	margin-bottom: 80px;
}

.margin-bottom120 {
	margin-bottom: 120px;
}

.margin-bottom150 {
	margin-bottom: 150px;
}

#extraRef {
	margin-top: 150px;
}

#mainFig {
	width: 1200px;
	height: auto;
}

#scatteringFig {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
}

#orbitFig {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: auto;
}

#title #scatteringFig {
	position: absolute;
	width: 400px;
	top: 300px;
	left: 0px;
}

#title #orbitFig {
	position: absolute;
	width: 350px;
	top:220px;
	right: 0px;
}

#title #slacFig {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

#gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
}

#angleFig {
	width: 355px;
	height: auto;
	position: absolute;
	top: 40px;
	left: 465px;
	transition: top 0.5s, left 0.5s;
}

#ampFig {
	width: 318px;
	height: auto;
	position: absolute;
	top: 281px;
	left: 922px;
	transition: top 0.5s, left 0.5s;
}

#srFig {
	width: 97px;
	height: auto;
	position: absolute;
	top: 348px;
	left: 593px;
	transition: top 0.5s, left 0.5s;
}

#phiFig {
	width: 328px;
	height: auto;
	position: absolute;
	top: 277px;
	left: 40px;
	transition: top 0.5s, left 0.5s;
}

#obsFig {
	width: 159px;
	height: auto;
	position: absolute;
	top: 525px;
	left: 563px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-observables #srFig,
.impress-on-observablesExpl #srFig,
.impress-on-observablesExpl2 #srFig {
	top: 0px;
	left: 593px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-observables #obsFig,
.impress-on-observablesExpl #obsFig,
.impress-on-observablesExpl2 #obsFig {
	top: 177px;
	left: 563px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-impetus1 #angleFig,
.impress-on-impetus2 #angleFig,
.impress-on-impetus3 #angleFig,
.impress-on-impetus4 #angleFig,
.impress-on-chiFromM #angleFig,
.impress-on-firsov #angleFig {
	top: 40px;
	left: 150px;
	transition: left 0.5s;
}

.impress-on-impetus1 #ampFig,
.impress-on-impetus2 #ampFig,
.impress-on-impetus3 #ampFig,
.impress-on-impetus4 #ampFig,
.impress-on-chiFromM #ampFig,
.impress-on-firsov #ampFig {
	top: 0px;
	left: 822px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-radialAction #ampFig,
.impress-on-orbitEl1 #ampFig,
.impress-on-radialActionPM #ampFig,
.impress-on-masterInts #ampFig {
	top: 0px;
	left: 822px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-radialAction #srFig,
.impress-on-orbitEl1 #srFig,
.impress-on-radialActionPM #srFig,
.impress-on-masterInts #srFig {
	top: 60px;
	left: 400px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-periastron1 #angleFig,
.impress-on-periastron2 #angleFig {
	top: 30px;
	left: 800px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-periastron1 #phiFig,
.impress-on-periastron2 #phiFig {
	top: 0px;
	left: 150px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-integrate #phiFig,
.impress-on-srPM #phiFig {
	top: 0px;
	left: 150px;
	transition: top 0.5s, left 0.5s;
}

.impress-on-integrate #srFig,
.impress-on-srPM #srFig {
	top: 60px;
	left: 800px;
	transition: top 0.5s, left 0.5s;
}



.impress-on-main #impetus1,
.impress-on-main #impetus2,
.impress-on-impetus1 #impetus2,
.impress-on-main2 #radialAction,
.impress-on-main3 #periastron1,
.impress-on-main4 #integrate,
.impress-on-main5 #observables {
	opacity: 0;
	transition: opacity 0.5s;
}

.hint {
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 50px;
    padding: 20px;

    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);
	
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-title .hint {
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);


    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

/*
.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }
*/
